.language-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 70vh;
    width: 95%;
    margin: 20px auto;   
}

.language-container h1{
    display: inline;
    
}
.language-container {
  text-align: center;
    
    
}
.languageSelector{
    display: flex
}
.languageSelector div{
    height: 100px;
    margin: 0 20px;
}
.langImage>img{
   width: 55px;
}
.langImage h3{
    background: #100DB1;
    color: azure;
    border-radius: 15px;
    padding: 5px 15px;
}

