.ImergencyLabel{
    background:#DE2D45;
    border-radius: 14px;
    padding: 30px;
    color: azure;
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 20px auto; 
}
.ImergencyLabel img{
    width: 100px;
}
.ImergencyLabel h3{
    width: 80%;
    display: inline;
}
.ImergencyLabel{
    width: 70%;
}